$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 620px)",
  "lg": "screen and (min-width: 900px)",
) !default;

@mixin bq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.contentSection_wrapper {
  width: 100%;

  @include bq(md) {
    width: 620px;
  }

  @include bq(lg) {
    width: 900px;
  }
}

.stripeMarker {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(5, 0, 255, 0.45) 0,
    rgba(5, 0, 255, 0.45) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}
