$breakpoints: (
    "xl": "screen and (min-width: 1040px)",
) !default;

@mixin bq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.contentSection_wrapper {
    @include bq(xl) {
        width: 1040px;
    }
}

.stripeMarker {
    background-image: repeating-linear-gradient(
        -45deg,
        rgba(5, 0, 255, 0.45) 0, rgba(5, 0, 255, 0.45) 32px,
        transparent 32px, transparent 64px
    );
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 150% 2.6rem;
}