$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 620px)",
  "lg": "screen and (min-width: 900px)",
) !default;

@mixin bq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.contentSection_wrapper {
  width: 100%;

  @include bq(md) {
    width: 620px;
  }

  @include bq(lg) {
    width: 900px;
  }
}

.stripeMarker_blue {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(5, 0, 255, 0.45) 0,
    rgba(5, 0, 255, 0.45) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}

.stripeMarker_red {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 0, 0, 0.45) 0,
    rgba(255, 0, 0, 0.45) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}

.stripeMarker_orange {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 165, 0, 0.45) 0,
    rgba(255, 165, 0, 0.45) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}

.stripeMarker_yellow {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 0, 0.45) 0,
    rgba(255, 255, 0, 0.45) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}

.stripeMarker_green {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 128, 0, 0.45) 0,
    rgba(0, 128, 0, 0.45) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}

.stripeMarker_pink {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(212, 88, 136, 0.65) 0,
    rgba(212, 88, 136, 0.65) 12px,
    transparent 12px,
    transparent 20px
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 0.8rem;
}
