@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

@layer components {
  .outline-focus-visible {
    @apply rounded-sm outline-2 outline-offset-4 outline-transparent focus-visible:outline-body_text;
  }
}
@layer components {
  .kbd {
    @apply mx-1 rounded-md border-2 border-gray-400 bg-gray-200 p-[.2rem] font-mono shadow-md;
  }
}
